.gallery{
    background: #fff;
    margin: 40px 0;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}
.gallery h1{
    font-size: 1.8em;
    color: #666;
}

.gallery p{
    font-size: 0.9em;
    color: #666;
}

.gallery-title a{
    font-size: 1.6em;
    color: #666;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.gallery-title a:hover{
    color: #000;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.btn-filter{
    display: inline-block;
    background: none;
    color:#333;
    border: 1px solid #333;
    padding: 10px 25px;
    margin: 10px 10px 15px 0;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.btn-filter:hover{
    color:#fff;
    background: #333;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.thumb-gallery-parent{
    margin-bottom: 30px;
}

.thumb-gallery-image{
      background-size: cover !important;
      background-position: center center;
      background-repeat: no-repeat;
      height: 250px;
}